
/* =========== Start Facility Section =========== */
.facility {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  overflow: hidden;
  margin-bottom: 5rem;
}

.item-one picture {
  position: absolute;
  top: 26%;
  left: 2%;
}

.item-two picture {
  position: absolute;
  top: 0;
  right: 50%;
}

.item-three picture {
  position: absolute;
  top: 2%;
  left: 35%;
}

.images .image {
  width: 410px;
  border-radius: 50%;
  padding: 0 2rem;
  margin: 0 auto;
}

.facility-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem 1.35rem;
}

.facility-text h3 {
  font-size: 2rem;
  color: $darknavy;
}

.facility p {
  color: $darknavy;
  padding: 2rem 0;
}
/* =========== End Facility Section =========== */