@import "fonts";
@import "reset";
@import "variables";
@import "global";
@import "header";
@import "hero";
@import "facility";
@import "sign-up";
@import "footer";
@import "media-query";

/* =========== Start Services Section =========== */
.services {
  padding: 6rem 1.2rem;
}

.service {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0;
}

.service img {
  width: 56px;
}

.service h2 {
  text-align: center;
  color: $darknavy;
  font-size: 1.25rem;
  padding: 1.5rem 0;
}

.service p {
  text-align: center;
  color: $dimgrey;
}
/* =========== End Services Section =========== */
