@import "fonts";
@import "reset";
@import "variables";
@import "global";
@import "header";
@import "hero";
@import "sign-up";
@import "footer";
@import "media-query";

/* =========== Start Map Section =========== */
.map-img {
  padding: 1.5rem 2rem;
}

#hero-section {
  background-image: url("../assets/images/careers-location-hero-mobile.jpg");
  height: 160px;
}

.locations-hero-desc {
  padding: 0;
  position: absolute;
  top: 60px;

  h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: -1.79px;
  }
}

.map-img img {
  width: 100%;
  height: auto;
}

.mobile-desc {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 4rem;
}

.mobile-desc ul li {
  width: 80vw;
  padding: 1rem;
  background: $lightyellow;
  margin-bottom: 0.7rem;
  font-size: 1.5rem;
  text-transform: capitalize;
  font-family: $spacemono;
  color: $darknavy;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -1.07px;
}
/* =========== End Map Section =========== */

/* =========== Start City Section =========== */
.city-desc {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0rem 2rem 4rem;
}

.city-desc h2 {
  color: $darknavy;
  font-size: 2rem;
  line-height: 2rem;
  letter-spacing: -1.43px;
}

.city-desc p {
  color: $dimgrey;
  padding: 2rem 0;
  font-size: 0.95rem;
  line-height: 25px;
  font-family: $lexenddeca;
}
/* =========== End City Section =========== */

/* =========== Start Media Query for Tablet =========== */
@media only screen and (min-width: 768px) {
  #hero-section {
    background-image: url("../assets/images/careers-locations-hero-tablet.jpg");
  }

  .map-container {
    padding: 3rem 3.5rem;
  }
  .mobile-desc {
    display: none;
  }
  .city-container {
    padding: 3rem 3.5rem;
  }
}
/* =========== End Media Query for Tablet =========== */

/* =========== Start Media Query for Desktop =========== */
@media only screen and (min-width: 1024px) {
  #hero-section {
    background-image: url("../assets/images/careers-locations-hero-desktop.jpg");
  }

  .city-desc {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    text-align: left;
    gap: 2rem;
  }

  .city-desc h2 {
    max-width: 350px;
    flex: 1;
  }

  .city-desc p {
    max-width: 440px;
    flex: 2;
  }
}
/* =========== End Media Query for Desktop =========== */
